:host {
  padding: 0 0.5rem;
  background-color: #fff;
}
.container {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 3rem 1fr 1rem 2rem;
  grid-gap: 5px;
  grid-template-areas:
    'image title'
    'image .'
    'image tags'
    'image price';
  place-content: stretch;
  place-items: stretch;
}
.product-image {
  grid-area: image;
  object-fit: contain;
  width: 9rem;
  height: 9rem;
}
.product-title {
  grid-area: title;
}
.product-tags {
  grid-area: tags;
}
.product-price {
  grid-area: price;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'price-detail price-desc price-avatar';
  place-content: stretch;
  place-items: center;
}