:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  overflow-y: auto;
}
app-back-button {
  position: fixed;
  left: 1rem;
  top: 1.2rem;
  z-index: 2000;
}
.price-section {
  display: grid;
  grid-template-columns: 25% 25% 1fr;
  place-content: start;
  place-items: baseline;
  grid-gap: 3px;
  margin: 0 5px;
}
.title,
.coupon,
.guarantee,
.group-short-list
{
  grid-column: 1/4;
}
.price-section .now-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e02f29;
}
.price-section .list-price {
  color: #3f3f3f;
  text-decoration: line-through;
}
.price-section .sales-count {
  justify-self: end;
}
.price-section .title {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 5px 0;
}
.price-section .desc {
  margin-left: 10px;
  color: #3f3f3f;
}
.price-section .guarantee {
  margin: 5px 0;
  color: darkgrey;
  font-size: 1.1rem;
}
.group-short-list{
  width:100%;
  padding: 0.4rem 0;
  background-color: #f5f5f5;
}