ul {
  display: flex;
  justify-content: space-between;
}
ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  white-space: nowrap;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
.active{
  color:red;
}
.first{
  color:green;
}
.indicator {
  background:brown;
  height:2px;
  width:2rem;
  margin-top:2px;
}